In [17]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import math
% matplotlib inline
data = pd.read_csv('MunicipiosBrasil.csv')

In [18]:
data.head()

   ID  LATITUDE  LONGITUDE             Mun/UF     MUNICIPIO  UF        Valor
0   1     -9.82     -66.88    ACRELANDIA - AC    ACRELANDIA  AC  39560.03891
1   2    -10.94     -69.56  ASSIS BRASIL - AC  ASSIS BRASIL  AC  17842.15099
2   3    -11.01     -68.74     BRASILEIA - AC     BRASILEIA  AC  93373.39431
3   4     -9.83     -67.95        BUJARI - AC        BUJARI  AC  28516.56749
4   5    -10.57     -67.67      CAPIXABA - AC      CAPIXABA  AC  18886.45514

In [19]:
data.set_index(["MUNICIPIO"], inplace=True)
data.head()

              ID  LATITUDE  LONGITUDE             Mun/UF  UF        Valor
MUNICIPIO
ACRELANDIA     1     -9.82     -66.88    ACRELANDIA - AC  AC  39560.03891
ASSIS BRASIL   2    -10.94     -69.56  ASSIS BRASIL - AC  AC  17842.15099
BRASILEIA      3    -11.01     -68.74     BRASILEIA - AC  AC  93373.39431
BUJARI         4     -9.83     -67.95        BUJARI - AC  AC  28516.56749
CAPIXABA       5    -10.57     -67.67      CAPIXABA - AC  AC  18886.45514

In [20]:
data.loc["ACRELANDIA"]

ID                         1
LATITUDE               -9.82
LONGITUDE             -66.88
Mun/UF       ACRELANDIA - AC
UF                        AC
Valor                  39560
Name: ACRELANDIA, dtype: object

In [21]:
data.loc["ACRELANDIA"].LONGITUDE

-66.88

In [31]:
def calc_length(town1, town2):
    R = 6371.
    x = (town2.LONGITUDE - town1.LONGITUDE) * math.cos((town2.LATITUDE + town1.LATITUDE)/2.)
    y = town2.LATITUDE - town1.LATITUDE
    return math.sqrt(x**2 + y**2) * R

In [32]:
calc_length(data.loc['ACRELANDIA'], data.loc['BRASILIA'])

123435.94329458081

In [36]:
data.loc['BRASILIA']

ID                     801
LATITUDE            -15.78
LONGITUDE           -47.93
Mun/UF       BRASILIA - DF
UF                      DF
Valor          1.82195e+06
Name: BRASILIA, dtype: object

In [58]:
from math import radians, cos, sin, asin, sqrt
def haversine2(orig, dest):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    orig.LONGITUDE, orig.LATITUDE, dest.LONGITUDE, dest.LATITUDE = map(radians, [orig.LONGITUDE, orig.LATITUDE, dest.LONGITUDE, dest.LATITUDE])

    # haversine formula 
    dlon = dest.LONGITUDE - orig.LONGITUDE 
    dlat = dest.LATITUDE - orig.LATITUDE 
    a = sin(dlat/2)**2 + cos(orig.LATITUDE) * cos(dest.LATITUDE) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r *1.35

In [59]:
haversine2(data.loc['ACRELANDIA'], data.loc['BRASILIA'])

/home/igor/.local/lib/python3.6/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

2912.687050890211

In [60]:
haversine2(data.loc['SOBRAL'], data.loc['BRASILIA'])

/home/igor/.local/lib/python3.6/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

2133.4924411689212